modLoader="javafml"
loaderVersion="[37,)"
license="MIT"

# A URL to refer people to when problems occur with this mod
#issueTrackerURL="http://my.issue.tracker/" #optional
# A list of mods - how many allowed here is determined by the individual mod loader
[[mods]] #mandatory
modId="decorative_blocks" #mandatory
version="${file.jarVersion}" #mandatory
displayName="Decorative Blocks" #mandatory
# A URL to query for updates for this mod. See the JSON update specification <here>
#updateJSONURL="http://myurl.me/" #optional
# A URL for the "homepage" for this mod, displayed in the mod UI
#displayURL="http://example.com/" #optional
# A file name (in the root of the mod JAR) containing a logo for display
#logoFile="examplemod.png" #optional
credits="Thanks for stohun for the amazing models" #optional
authors="stohun, lilypuree" #optional
description='''
 A small mod that adds several new decorative blocks.
'''

[[dependencies.decorative_blocks]] #optional
modId="forge" #mandatory
mandatory=true #mandatory
versionRange="[37,)" #mandatory
ordering="NONE"
side="BOTH"

[[dependencies.decorative_blocks]]
modId="minecraft"
mandatory=true
versionRange="[1.17.1,)"
ordering="NONE"
side="BOTH"
